<ion-header>
  <ion-toolbar>
    <ion-title><h1>Login</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding: 20px;">
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-img src="" style="height: 200px;"> </ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-label style="text-align: center;">
          <h1>Club Handle</h1>
          <p>By novistec</p>
        </ion-label>
      </ion-col> </ion-row
    ><br />
    <ion-row>
      <ion-col size="12">
        <form style="align-self: center;" (ngSubmit)="onsubmit(f)" #f="ngForm">
          <ion-item>
            <ion-label position="floating"
              ><ion-icon slot="end" name="person-outline"></ion-icon>
              Username</ion-label
            >
            <ion-input type="text" name="email" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"
              ><ion-icon name="lock-closed-outline"></ion-icon>
              Password</ion-label
            ><ion-input
              type="password"
              name="password"
              ngModel
              required
            ></ion-input> </ion-item
          >
          <ion-row>
            <ion-col offset="6.5">
              <p  style="color:rgb(73, 73, 233)" (click)="forgot()" 
                >
                Forgot Password?</p
              ></ion-col></ion-row>
              <ion-row><ion-col offset="4">
              <ion-button type="submit" color="tertiary" [disabled]="f.invalid"
                >Login</ion-button
              ></ion-col
            ></ion-row
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
