.bordero{
    border: 1px solid rgb(255,160,0);
}
.border1{
    border-right: 1px solid rgb(255,160,0);
}
td{
    width: 200px;
    text-align: center;
    color:rgb(255,160,0) ;
    font-size: 20px;
}
tr{
    width: 200px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}
ion-col{
    font-size: 14px;
    text-align: center;
}
.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  table{
    overflow-y:scroll;
    height:300px;
    display:block;
 }