<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/order"> </ion-back-button>
    </ion-buttons>
    <ion-title><h3>Order-Detail</h3></ion-title>
    <ion-buttons slot="end" *ngIf="completed === false">
      <ion-button (click)="add()">
        <ion-icon name="add"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let order of orderdetails">
    <ion-grid>
      <ion-row>
        <ion-col>{{order.item}} </ion-col>
        <ion-col>{{order.item}} </ion-col>
        <ion-col> {{order.item}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-grid *ngIf="completed === false">
      <ion-row>
        <ion-col size="6" offset="4">
          <ion-button (click)="generateBill()">Generate Bill</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
