.borderbox{
    border: 1px solid rgb(255, 160,0);
}
th{
    width: 200px;
    padding: 5px;
    color: rgb(255, 160,0);
}
.tad{
    width: 200px;
    text-align: center;
    padding-top:15px;
    font-size: 18px;
}
.heading{
    color:rgb(255, 160,0) ;
    text-align: center;
}