<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/order"> </ion-back-button>
    </ion-buttons>
    <ion-title><h3>Create Order</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div>
      <div>
        <form #f="ngForm">
          <ion-item>
            <ion-row>
              <ion-col>
                <ion-col>
                  <ion-label position="floating">Enter the Iteam </ion-label>
                  <ion-input
                    name="iteam"
                    type="text"
                    ngModel
                    [(ngModel)]="name"
                    required
                  >
                  </ion-input>
                </ion-col>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col>
                <ion-col>
                  <ion-label position="floating">Enter the Quantity </ion-label>
                  <ion-input
                    name="Quantity"
                    type="number"
                    ngModel
                    [(ngModel)]="quantity"
                    required
                  >
                  </ion-input>
                </ion-col>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item
            ><br /><br />
            <ion-row>
              <ion-col>
                <ion-button [disabled]="f.invalid" (click)="Add(f)"
                  >Add</ion-button
                > </ion-col
              >&nbsp;&nbsp;
              <ion-col>
                <ion-button [disabled]="items.length<=0" (click)="submit()">
                  Submit</ion-button
                >
              </ion-col>
            </ion-row>
          </ion-item>
        </form>
      </div>
    </div>
    <br />
    <div style="padding: 5px;">
      <div *ngIf="items.length > 0">
        <h3 class="heading">Added Order</h3>
        <br />
        <table class="borderbox">
          <tr>
            <th>Iteam</th>
            <th>Quantity</th>
            <th>Remove</th>
            <br />
          </tr>
          <tr *ngFor="let item of items">
            <td class="tad">{{item.item}}</td>
            <td class="tad">{{item.quantity}}</td>
            <td class="tad">
              <ion-button
                color="danger"
                style="width: 60px; text-align: center;"
              (click)="delete(item.item)"  ><ion-icon name="trash-outline"></ion-icon
              ></ion-button>
            </td>
            <br />
          </tr>
        </table>
      </div>
    </div>
  </ion-grid>
</ion-content>
