ion-item {
  width: 100%;
  border: 1px solid rgb(255, 160, 0);
  border-width: 3px;
}
ion-fab-button {
  width: 40px;
  height: 40px;
}
ion-img {
  border: 1px solid rgb(255, 160, 0);
}

ion-button {
  background-color: rgb(255, 160, 0);
}
