ion-segment-button {
  --color-checked: rgb(255, 160, 0);
}

ion-label {
  color: rgb(255, 160, 0);
}
.date {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 160, 0);
}
.datefont {
  padding-top: 15px;
  color: black;
  font-size: 20px;
}
.month {
  width: 90px;
  height: 80px;
  border: 4px solid rgb(255, 160, 0);
  border-radius: 30px;
  color: rgb(255, 160, 0);
  font-size: 25px;
  padding-bottom: 10px;
}
.card {
  border: 2px solid rgb(255, 160, 0);
}
.font {
  font-size: 11px;
}
.image {
  background-color: white;
  height: 30px;
}