ion-item {
  width: 100%;
  border: 1px solid rgb(255, 160, 0);
  border-width: 3px;
}
.week{
    font-size: 25px;
    padding: 15px;
    text-align: center;   
  font-family: "Times New Roman", Times, serif;
  border: 2px solid rgb(255, 160,0);
  width: 70%;
}