<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home/tabs/guestlist/tabs">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Confirmed</ion-title>
    </ion-toolbar>    
</ion-header>

<ion-content>
  <ion-list *ngFor="let req of requests.user_data let index of index">
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img [src]="req[0].profile_path"></ion-img>
      </ion-thumbnail>
      <ion-label> {{req [0].email }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
