<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/order/ongoingorder-detail">
        </ion-back-button>
      </ion-buttons>
    <ion-title><h3>Update Order</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6"offset="3">
          <h1>Update Order</h1>
          </ion-col>
          
        </ion-row>

        <ion-row>
          <ion-col>

            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>
</ion-content>
