<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/order/ongoingorder-detail">
      </ion-back-button>
    </ion-buttons>
    <ion-title><h3>Update Order</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="isAdd === true">
    <ion-card-content>
      <ion-grid>
        <div>
          <form (ngSubmit)="onsubmit(f)" #f="ngForm">
            <ion-item>
              <ion-row>
                <ion-col>
                  <ion-col>
                    <ion-label position="floating">Enter the Iteam </ion-label>
                    <ion-input name="iteam" type="text" ngModel required>
                    </ion-input>
                  </ion-col>
                </ion-col>
              </ion-row>
            </ion-item>
            <ion-item>
              <ion-row>
                <ion-col>
                  <ion-col>
                    <ion-label position="floating"
                      >Enter the Quantity
                    </ion-label>
                    <ion-input name="Quantity" type="number" ngModel required>
                    </ion-input>
                  </ion-col>
                </ion-col>
              </ion-row>
            </ion-item>
            <ion-item>
              <ion-row>
                <ion-col>
                  <ion-button type="submit">Submit</ion-button>
                </ion-col>
              </ion-row>
            </ion-item>
          </form>
        </div>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <div *ngIf="isAdd === false">
    <ion-card>
      <ion-card-content>
        <div>
          <form (ngSubmit)="remove(f)" #f="ngForm">
            <ion-grid>
              <ion-item>
                <ion-row>
                  <ion-col>
                    <ion-label>Select the Item you want to remove </ion-label>
                    <ion-select name="remove" ngModel required>
                      <ion-select-option *ngFor="let order of orderdetails">
                        {{order.item}}
                      </ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
              </ion-item>
              <ion-item>
                <ion-row>
                  <ion-col>
                    <ion-label position="floating"
                      >Enter the Quantity</ion-label
                    >
                    <ion-input type="number" name="quantity" ngModel required></ion-input>
                  </ion-col>
                </ion-row>
              </ion-item>
              <ion-item>
                <ion-row>
                  <ion-col>
                    <ion-button color="danger" type="submit"
                      >Remove<ion-icon name="trash"></ion-icon
                    ></ion-button>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-grid>
          </form>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
