<ion-header>
  <ion-toolbar>
    <ion-title>validate-otp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-row style="padding: 20px;">
            <ion-col
              size="8"
              offset="2"
              style="background-color: rgb(255, 166, 0);"
            >
              <ion-img src="assets/images/logo/logo.png" style="height: 200px;">
              </ion-img>
            </ion-col>
          </ion-row>
          <h1 style="text-align: center;">Club Handle</h1>
          <h6 style="text-align: center;">By NovisTec</h6>
          <br />
          <h3 style="text-align: center;">
            Password Reset
          </h3>
          <p style="text-align: center;">
          set a new password for your account<br />
          </p>

          <br />
        </ion-list>
       <form (submit)="submit(f)" #f="ngForm">
          <ion-item>
            <ion-label position="floating"
              ><ion-icon name="key"></ion-icon> Enter New Password</ion-label
            ><br />
            <ion-input
              type="password"
              name="newpassword"
              ngModel
              required
              maxlength="6"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"
              ><ion-icon name="key"></ion-icon> Re-Enter New Password</ion-label
            ><br />
            <ion-input
              type="password"
              name="repassword"
              ngModel
              required
              maxlength="6"
            ></ion-input>
          </ion-item>
          <ion-row>
            <ion-col offset=".7">
            
              <ion-button type="submit()" [disabled]="f.invalid"
                >Submit Password</ion-button
              >
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
