  .card {
    border: 2px solid rgb(255, 160, 0);
  }
  .font {
    font-size: 11px;
    text-align: center;
  }
  .image {
    background-color: white;
    height: 30px;
  }
  .btn{
    font-size: 10px;
    background-color: rgb(255, 160, 0);
    color: black;
    border-radius: 5px;
  }