.font {
  font-size: 15px;
}
.border {
  border: 1px solid rgb(255, 160, 0);
}
.centerimg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }