<ion-header>
  <ion-toolbar>
  <!-- <ion-tabs>
    <ion-tab-bar slot="primary">
      <ion-tab-button tab="request">
       <ion-label style="font-size: 15px;"> Requests </ion-label>
       <ion-icon name="person-add"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="confirmed">
        <ion-label style="font-size: 15px;">Conformed </ion-label>
        <ion-icon name="people"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
  </ion-toolbar>
</ion-header>

<ion-content> 
 <div *ngFor="let day of mode">
  
  <ion-card style="background-color:rgb(255,160,0);"(click)="selectedday(day)">
    <ion-card-title style="text-align: center; color: black;">
      <h1>{{day}}</h1>
      </ion-card-title>
    </ion-card>
  </div>
</ion-content>
