<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-back-button defaultHref="home/tabs/guestlist">
      </ion-back-button>

    </ion-buttons>
  <!-- <ion-tabs>
    <ion-tab-bar slot="primary">
      <ion-tab-button tab="request">
       <ion-label style="font-size: 15px;"> Requests </ion-label>
       <ion-icon name="person-add"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="confirmed">
        <ion-label style="font-size: 15px;">Conformed </ion-label>
        <ion-icon name="people"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <br />
  <div>
    <ion-grid>
      <ion-row>
        <ion-col offset="3.5">
          <ion-label class="week">GUEST LIST</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br />
  <br />
  <br />
  <div>
    <ion-grid>
      <ion-row>
        <ion-col offset="3.5">
          <ion-button color="light">
            <!-- <ion-icon
              style="height: 150px; width: 150px;"
              name="reader"
            ></ion-icon> -->
            <ion-img
              style="
                border: 1px solid rgb(255, 160, 0);
                background-color: rgb(255, 160, 0);
              "
              src="assets\images\logo\guestlist.jpeg"
            ></ion-img>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br />
  <br />
  <div *ngFor="let day of mode">
    <ion-card
      style="background-color: rgb(255, 160, 0);"
      (click)="selectedday(day)"
    >
      <ion-card-title style="text-align: center; color: black;">
        <h1>{{day|uppercase}}</h1>
      </ion-card-title>
    </ion-card>
  </div>
</ion-content>